@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:wght@400;500;700&display=swap');

@layer base {
    html {
        @apply md:text-base sm:text-lsm text-sm min-h-screen bg-white text-primery
    }

    h1 {
        @apply md:text-lg sm:text-[1.0625rem] md:leading-[1.625rem] text-base
    }

    h2 {
        @apply md:text-xl sm:text-[1.1875rem] md:leading-[1.625rem] text-lg
    }
}

.text-logo{
    text-shadow: 0px 1px 2px rgba(237,237,237,0.5);
}

.directory{
    @apply flex flex-col 
}
.li-directory{
    @apply pl-6 py-2 hover:bg-light-grayish/20
}