@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    @layer {
        @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:wght@400;500;700&display=swap');
    }
    @apply md:text-base sm:text-lsm text-sm min-h-screen bg-white text-primery
}

h1 {
    @apply md:text-lg sm:text-[1.0625rem] md:leading-[1.625rem] text-base font-bold
}

h2 {
    @apply md:text-xl sm:text-[1.1875rem] md:leading-[1.625rem] text-lg font-bold
}


.text-logo {
    text-shadow: 0px 1px 2px rgba(237, 237, 237, 0.5);
}

/*Navigation style*/
.directory {
    @apply flex flex-col
}

.li-directory {
    @apply pl-6 py-2 hover:bg-light-grayish/20 hover:text-primery transition rounded-sm
}

.li-directory.active {
    @apply !bg-light-grayish/40
}

/* Custom styles for React quill*/
.ql-picker-item {
    @apply !border-[0.5px] !border-light-grayish/20 !border-solid hover:border-[1px] hover:border-black
}

.ql-toolbar, .ql-container {
    @apply !rounded-md !border-[1px] !border-solid !border-[#ccc]
}

.ql-editor {
    @apply !overflow-y-auto
}

.ql-toolbar {
    @apply bg-slate-400
}

.editor-container>.opened>.ql-toolbar {
    @apply block
}

.editor-container>.closed>.ql-toolbar {
    @apply hidden
}

.editor-container>.opened>.ql-container {
    @apply !h-[19rem]
}

.editor-container>.closed>.ql-container {
    @apply !h-[25rem]
}